
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

p{
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: bold;

}

table{
    /* width: 100%; */
    width: 300px;
    /* height: 300px; */
}

a{
    text-decoration: none;
}

#moltres{
    width: 50px;
    
}


